
data/train.csv
scripts/.ipynb_checkpoints/project1-checkpoint.ipynb
scripts/__pycache__/implementations.cpython-37.pyc
scripts/__pycache__/proj1_helpers.cpython-37.pyc
scripts/bias_variance.png
scripts/cross_validation.png
scripts/__pycache__/proj1_helpers.cpython-37.pyc
data/test.csv
data/test.csv.zip
scripts/__pycache__/implementations.cpython-37.pyc
scripts/__pycache__/proj1_helpers.cpython-37.pyc
scripts/__pycache__/implementations.cpython-37.pyc
scripts/__pycache__/implementations.cpython-37.pyc
scripts/degrees.txt
scripts/gammas.txt
scripts/lambdas.txt
scripts/weights.txt
data/submission_ri_deg7.csv
